#tab-intro {
  color: #fff;
  text-align: center; }

#main.contact {
  flex: 0 0 100%; }
  #main.contact + aside {
    display: none; }
  #main.contact article {
    max-width: 600px; }
  #main.contact .back-btn {
    right: 0; }
    #main.contact .back-btn:before {
      border-radius: 50%; }
  #main.contact li:before {
    display: none; }

[data-trans-to="contact"] + aside .social a {
  animation: aside-social-out .3s ease-in forwards;
  opacity: 1; }
  [data-trans-to="contact"] + aside .social a:nth-child(1) {
    animation-delay: 0.05s; }
  [data-trans-to="contact"] + aside .social a:nth-child(2) {
    animation-delay: 0.1s; }

[data-trans-to="contact"] + aside button {
  animation: aside-btn-out .3s ease-in forwards;
  opacity: 1; }
  [data-trans-to="contact"] + aside button:nth-child(1) {
    animation-delay: 0.05s; }
  [data-trans-to="contact"] + aside button:nth-child(2) {
    animation-delay: 0.1s; }
  [data-trans-to="contact"] + aside button:nth-child(3) {
    animation-delay: 0.15s; }
  [data-trans-to="contact"] + aside button:nth-child(4) {
    animation-delay: 0.2s; }
  [data-trans-to="contact"] + aside button:nth-child(5) {
    animation-delay: 0.25s; }
  [data-trans-to="contact"] + aside button:nth-child(6) {
    animation-delay: 0.3s; }

[data-trans-to="contact"] ~ footer {
  animation: aside-btn-out .3s ease-in forwards;
  opacity: 1; }
