@import "variables";
@import "animations";
@import "form";

html{
	font-size:18px;
	line-height: 2;
	height: 100%;
}

body
{
	background: $bg_color;
	color: #fff;
	text-align: center;

	height: 100%;
	margin: 0;

	font-family: 'Maven Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.wrapper
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 80%;
	padding:0 10vw;

	&:before{
		content: " ";
		display: block;
		flex: 1 1;
	}
	section{ flex: 0 0 50%}
	aside{ flex: 0 0 40% }
}

img
{
	max-width: 100%;
	height: auto;
}

strong
{
	color: $cta_color;
}

h1{ 
	font-weight: normal;
	color: #fff;
	font-weight: 500;
}

audio{ 
	display: none;
}

button{
	font-family: 'Maven Pro', sans-serif;
}

button.outline
{
	background: none;
	border: 1px solid #979797;
	border-radius: 3px;
	color: #fff;
	font-size: inherit;
	display: inline-block;
	line-height: 22px;
	padding: 5px 8px;
	font-weight: 500;

	cursor: pointer;

	&:hover
	{
		background: rgba(255,255,255,.1);
	}
}

#avatar
{
	opacity: 0;
	animation: avatar-in .3s ease-out forwards;
	animation-delay: .3s;
}

$tab_in_timing: .5s cubic-bezier(0.19, 1, 0.22, 1);
$tab_out_timing: .3s ease-in;
$line_in_timing: .4s ease-out;
$line_in_timing_factor: .2s;

@for $i from 1 through 10 {
	p:nth-child(#{$i}), 
	li:nth-child(#{$i}){
		opacity: 0;
		animation: line-in .3s forwards cubic-bezier(0.19, 1, 0.22, 1);
		animation-delay: .2s + $i * .12s;
	}
}

h1
{
	opacity: 0;
	animation: line-in .3s forwards cubic-bezier(0.19, 1, 0.22, 1);
	animation-delay: .6s;
}

[data-active='out']
{	
	@for $i from 1 through 10 {
		p:nth-child(#{$i}), 
		li:nth-child(#{$i}){
			animation: line-out .3s forwards cubic-bezier(0.19, 1, 0.22, 1);
			animation-delay: 0;
		}
	}

	h1
	{
		animation: line-out .3s forwards cubic-bezier(0.19, 1, 0.22, 1);
		animation-delay: 0;
	}
}

[data-charanimate]{
	span
	{
		opacity: 0;
		min-width: 8px;
		animation: head-span-in .3s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
		display: inline-block;
	}

	@for $i from 1 through 38 {
		span:nth-child(#{$i}){
			animation-delay: $i * .02s;
		}		
	}	
}

article
{
	position: relative;
	display: none;
	text-align: left;
	max-width: 500px;
	margin: 0 auto;
	min-height: 495px;

	&[data-active]{
		display: block;
		opacity: 0;
		animation: tab-in $tab_in_timing forwards;
	}

	&[data-active='out']{
		animation: tab-out $tab_out_timing forwards;
	}

	h2
	{
		margin-top:0;
		line-height: 30px;
	}
}

.social
{
	text-align: left;

	svg
	{
		max-width: 83px;
	}

	a
	{
		position: relative;
		vertical-align: middle;
		display: inline-block;
		line-height: 0;
		background: transparent;

		+ a
		{
			margin-left: 35px;
		}

		svg
		{
			fill: #fff;
			opacity: .4;
			pointer-events: none;
		}

		&:hover
		{
			svg
			{
				opacity: 1;
			}
		}
	}
}

aside
{
	width: 300px;
	margin-left: 40px;

	button
	{
		position: relative;
		display: block;
		padding-left: 38px;
		background: none;
		border:0;
		color: #9B9B9B;
		font-size: 1rem;
		line-height: 1.6;
		font-weight: bold;
		height: 80px;
		width: 100%;
		text-align: left;

		outline: none;

		cursor: pointer;

		background: url('/images/star.svg') left 0 top 50% no-repeat;
		background-size: 25px 25px;
	
		&::before{
			position: absolute;
			display: block;
			content:" ";
			left:0;
			top:50%;
			margin-top:-12.5px;
			width: 25px;
			height: 25px;
			background: url('/images/star-hover.svg') no-repeat 50% 50%;

			opacity: 0;
			transition: all .4s;
		}

		&::after{
			position: absolute;
			display: block;
			content:" ";
			left:0;
			top:50%;
			margin-top:-12.5px;
			width: 25px;
			height: 25px;
			transition: all .4s;
			opacity: 0;
			transform: scale(1.8);
			background: url('/images/star-full.svg') no-repeat 50% 50%;
		}

		&:hover,
		&:focus
		{
			color: #fff;

			&:before
			{
				opacity: 1;
			}
		}

		&[data-active]
		{
			color: #fff;

			&:before
			{
				opacity: 1;
			}

			&:after
			{
				transform: scale(1);
				opacity: 1;
			}
		}
	}
}

#tab-intro
{
	color: #fff;
	text-align: center;
}

#main.contact
{
	flex: 0 0 100%;

	+ aside
	{
		display: none;
	}

	article
	{
		max-width: 600px;
	}

	.back-btn
	{
		right:0;
	}
}

.back-btn
{
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	background: transparent;
	right: -22px;
	top: 4px;
	cursor: pointer;
	animation: back-btn-in .3s ease-out forwards;
	animation-delay: .3s;
	border:0;
	outline: none;

	span
	{
		position: absolute;
		width: 0;
		height: 0;

		pointer-events: none;

		transition: transform .2s ease-out;
		transform-origin: 50% 50%;

		&:before,
		&:after
		{
			content:" ";
			position: absolute;
			width: 20px;
			height: 2px;
			background: #979797;
			top:0; left:-10px;
			opacity: 0;
			transform-origin: 1 10px;
		}
	
		&:before
		{
			animation: back-btn-span-1-in .6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
			animation-delay: .3s;
		}
	
		&:after
		{
			animation: back-btn-span-2-in .8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
			animation-delay: .4s;
		}
	}

	&:before
	{
		content:" ";
		position: absolute;
		top:0; left:0;
		width: 100%;
		height: 100%;
		border:2px solid #21243B;	
		border-radius: 4px;
		box-sizing: border-box;
		transform: scale(1.3);

		transition: all .4s;
		transform-origin: 50% 50%;
	}

	&:hover,
	&:focus
	{
		span
		{
			transform: rotate(90deg);

			&:before,
			&:after
			{
				background: #fff;
			}
		}
	}
}

footer
{
	position: fixed;
	bottom: 40px;
	left:0; width: 100%;
	font-size: 1.2rem;
	font-weight: 500;

	.spacer
	{
		margin: 0 40px;
	}
}

@import "responsive/general";