.no-object-fit{
    #background-video-wrapper{
        .video-container{
            height: 200vh;
            margin-top: -50vh;
            width: 150vw;
            margin-left: -25vw;
        }
    }
}