
#avatar
{
	opacity: 0;
	animation: avatar-in .3s ease-out forwards;
	animation-delay: .3s;

	width: 176px;
	height: 176px;
	border-radius: 50%;

	display: inline-block;

	.deco{
		display: block;
		opacity: 0;
		transform: scale(.8);
		transition: all .4s;
		width: 176px;
		height: 176px;
		position: absolute;
		top:0; left:0;

		&:before{
			content:" ";
			position: absolute;
			left: 50%;
			top: 50%;
			margin:-101px 0 0 -100px;
			height: 202px;
			width: 200px;
			background: url('/images/avatar-hover.png');
	
			transform-origin: 50% 50%;
	
			z-index: -1;
			transition: all .4s;
		}
	
		&:after{
			content:" ";
			position: absolute;
			left: 50%;
			top: -40px;
			margin-left:-18px;
			height: 17px;
			width: 36px;
			background: url('/images/quadcopter.svg') no-repeat center center;
			background-size: 36px auto;
	
			// animation: avatar-after 5s infinite linear;
	
			z-index: -1;
			border-radius: 50%;
			transition: all .4s;
		}
	}

	&:hover,
	[game-active="true"] &
	{
		.deco{
			opacity: 1;
			transform: scale(1);

			&:before{ animation: avatar-before 5s infinite linear; }
			&:after{ animation: avatar-after 5s infinite linear; }
		}	
	}

	img
	{
		max-width: 100%;
		position: relative;
		z-index: 2;
	}
}

#start-game
{
	position: absolute;
	top:0; left:0; width: 100%; height: 100%;
	color: #fff;
	background: #232323;

	z-index: 3;
	font-size: 1.6rem;
	font-weight: bold;
	border-radius: 50%;

	opacity: 0;

	transition: opacity .3s;
	outline: none;

	cursor: pointer;

	span{
		display: none;
		opacity: 0;
		animation: game-btn-in .8s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}

	&:before{
		position: absolute;
		content: " ";
		top:0; left:0;
		width: 100%;
		height: 100%;
		background: url('/images/pattern.jpg');
		background-size: 100% 100%;
		border-radius: 50%;
		opacity: .3;

		animation: avatar-before 12s infinite linear; 
		animation-direction: reverse;

		z-index: -1;
	}

	img{
		vertical-align: middle;
		margin-left: 5px;
		width: 4rem;
		height: auto;
	}

	#avatar:hover &,
	[game-active="true"] &{
		opacity: 1;
		transition-duration: 1s;

		span{ display: block; animation-delay: .2s; }
		
		&:before{
			transform: scale(1);
		}
	}

	[game-active="true"] &{
		opacity: 1;
		background-color: #fff;
		transition: background .3s;

		&:before{
			display: none;
		}
	}
}

[game-active="true"]{
	#background-video-wrapper{ display: none; }
}