#avatar
{
	opacity: 0;
	animation: avatar-in .3s ease-out forwards;
	animation-delay: .3s;

	width: 176px;
	height: 176px;
	border-radius: 50%;

	display: inline-block;

	.deco{
		display: block;
		opacity: 0;
		transform: scale(.8);
		transition: all .4s;
		width: 176px;
		height: 176px;
		position: absolute;
		top:0; left:0;

		&:before{
			content:" ";
			position: absolute;
			left: 50%;
			top: 50%;
			margin:-101px 0 0 -100px;
			height: 202px;
			width: 200px;
			background: url('/images/avatar-hover.png');
	
			transform-origin: 50% 50%;
	
			z-index: -1;
			transition: all .4s;
		}
	
		&:after{
			content:" ";
			position: absolute;
			left: 50%;
			top: -40px;
			margin-left:-18px;
			height: 17px;
			width: 36px;
			background: url('/images/quadcopter.svg') no-repeat center center;
			background-size: 36px auto;
	
			// animation: avatar-after 5s infinite linear;
	
			z-index: -1;
			border-radius: 50%;
			transition: all .4s;
		}
	}

	&:hover
	{
		.deco{
			opacity: 1;
			transform: scale(1);

			&:before{ animation: avatar-before 5s infinite linear; }
			&:after{ animation: avatar-after 5s infinite linear; }
		}	
	}

	img
	{
		max-width: 100%;
		position: relative;
		z-index: 2;
	}
}

#tab-intro
{
	color: #fff;
	text-align: center;
}

#main.contact
{
	flex: 0 0 100%;

	+ aside
	{
		display: none;
	}

	article
	{
		max-width: 600px;
	}

	.back-btn
	{
		right:0;
	}
}

[data-trans-to="contact"] + aside 
{
	.social a{
		animation: aside-social-out .3s ease-in forwards;
		opacity: 1;
	
		@for $i from 1 through 2 {
			&:nth-child(#{$i}){
				animation-delay:  $i * .05s;
			}		
		}
	}

	button{
		animation: aside-btn-out .3s ease-in forwards;
		opacity: 1;
	
		@for $i from 1 through 6 {
			&:nth-child(#{$i}){
				animation-delay:  $i * .05s;
			}		
		}
	}
}
