#tab-intro
{
	color: #fff;
	text-align: center;
}

#main.contact
{
	flex: 0 0 100%;

	+ aside
	{
		display: none;
	}

	article
	{
		max-width: 600px;
	}

	.back-btn
	{
		right:0;
	}

	li:before{display: none;}
}

[data-trans-to="contact"] + aside 
{
	.social a{
		animation: aside-social-out .3s ease-in forwards;
		opacity: 1;
	
		@for $i from 1 through 2 {
			&:nth-child(#{$i}){
				animation-delay:  $i * .05s;
			}		
		}
	}

	button{
		animation: aside-btn-out .3s ease-in forwards;
		opacity: 1;
	
		@for $i from 1 through 6 {
			&:nth-child(#{$i}){
				animation-delay:  $i * .05s;
			}		
		}
	}
}
