$tinyphone_width: 320px;
$phone_width: 350px;
$bigphone_width: 414px;
$bigphone_height: 846px;
$tablet_width: 768px;
$desktop_width: 940px;
$bigassscreen_width: 1600px;

$cta_color: #F5A623;
$bg_color: #21243B;